body {
    background-color: #F5DEB3;
    font-family: "Times New Roman", serif;
    background-image: url("https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.dreamstime.com%2Fillustration%2Fblank-treasure-map.html&psig=AOvVaw01OJV3O2M9eLqboCZ1p_xu&ust=1682386041985000&source=images&cd=vfe&ved=0CBEQjRxqFwoTCNjpqMWuwf4CFQAAAAAdAAAAABAE.jpg");
}
  
  .form {
    margin: 50px auto;
    width: 350px;
    padding: 40px 65px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  }
  
  h1.login-title {
    color: #800000;
    margin: 0px auto 35px;
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 2px 2px #c1a188;
  }
  
  .login-input {
    font-size: 18px;
    border: 1px solid #800000;
    padding: 15px;
    margin-bottom: 30px;
    height: 50px;
    width: 100%;
    border-radius: 5px;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    color: #800000;
    background-color: rgba(255, 255, 255, 0.5);
  }
  
  .login-input:focus {
    border-color: #CD5C5C;
    outline: none;
  }
  
  .login-button {
    color: #FFFFFF;
    background: linear-gradient(to bottom right, #CD5C5C, #8B0000);
    border: 0;
    outline: 0;
    width: 100%;
    height: 60px;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    box-shadow: 2px 2px 5px #888888;
    transition: all 0.3s ease-in-out;
  }
  
  .login-button:hover {
    transform: translateY(-3px);
    box-shadow: 3px 3px 8px #888888;
  }
  
  .link {
    color: #800000;
    font-size: 16px;
    text-align: center;
    margin-bottom: 0px;
    margin-top: 20px;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  }
  
  .link a {
    color: #CD5C5C;
    text-decoration: none;
  }
  
  h3 {
    font-weight: normal;
    text-align: center;
    margin-top: 30px;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 14px;
    color: #800000;
    text-shadow: 1px 1px #d79494;
  }
  h2 {
    font-weight: normal;
    text-align: center;
    margin-top: 30px;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 14px;
    color: #800000;
    text-shadow: 1px 1px #d79494;
  }
  
